{
  "repositoryUrl": "git@github.com:phucnguyen035/frontend-mentor-rest-countries.git",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "angular",
      }
    ],
    "@semantic-release/github"
  ],
  "branches": [
    "main"
  ],
  "dryRun": false
}
