{
  "repositoryUrl": "git@github.com:phucnguyen035/frontend-mentor-rest-countries.git",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "type": "docs",
            "scope": "README",
            "release": "patch"
          },
          {
            "type": "refactor",
            "scope": "components",
            "release": "minor"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "scope": "no-release",
            "release": false
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "perf",
              "section": "Performance Improvements"
            },
            {
              "type": "revert",
              "section": "Reverts"
            },
            {
              "type": "docs",
              "section": "Documentation",
              "hidden": false
            },
            {
              "type": "style",
              "section": "Styles",
              "hidden": false
            },
            {
              "type": "chore",
              "section": "Miscellaneous Chores",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": "Code Refactors",
              "hidden": false
            },
            {
              "type": "test",
              "section": "Tests",
              "hidden": false
            },
            {
              "type": "build",
              "section": "Build System",
              "hidden": false
            },
            {
              "type": "ci",
              "section": "CI/CD",
              "hidden": false
            },
            {
              "type": "improvement",
              "section": "Improvements",
              "hidden": false
            }
          ]
        },
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        },
        "writerOpts": {
          "commitsSort": [
            "subject",
            "scope"
          ]
        }
      }
    ],
    "@semantic-release/github"
  ],
  "branches": [
    "main"
  ],
  "dryRun": false
}
