@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --elements: 0, 0%, 100%;
    --background: 0, 0%, 98%;
    --text: 200, 15%, 8%;
    --input: 0, 0%, 52%;
  }

  html.dark {
    --elements: 209, 23%, 22%;
    --background: 207, 26%, 17%;
    --text: 0, 0%, 100%;
  }
}
