/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: 209, 23%, 22%;
    --blue-dark: 207, 26%, 17%;
    --blue-darker: 200, 15%, 8%;
    --gray: 0, 0%, 52%;
    --gray-light: 0, 0%, 98%;
    --white: 0, 0%, 100%;
  }
}
