name: Deploy newest release to production
on:
  workflow_dispatch:

  workflow_run:
    workflows: [Run Tests]
    branches: [main]
    types:
      - completed

jobs:
  release:
    name: Create Release
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release

  deploy:
    name: Deploy by merging main branch into release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Sync release branch with main
        uses: connor-baer/action-sync-branch@main
        with:
          branch: release
          token: ${{ secrets.GITHUB_TOKEN }}
          force: true
